<section>
  <div id="talk" class="section">
    <div class="container">
      <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div>
          <div class="contact-form">
            <h2 class="mb-4">Interested to work together? Let's talk</h2>

            <form novalidate="" name="form" class="ng-pristine ng-invalid ng-touched" method="get">
              <div  class="p pb-3">
              <div class="row mb-3">
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                      <input type="text" name="name" placeholder="Name" required="" class="form-control ng-untouched ng-pristine ng-invalid"></div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                    <input type="text" name="subject" placeholder="Subject" required="" class="form-control ng-pristine ng-invalid ng-touched"></div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" name="email" placeholder="E-mail"
                      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required=""
                      class="form-control ng-untouched ng-pristine ng-invalid">
                    </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <div class="form-group"><textarea name="message" placeholder="Your Message" required=""
                      class="form-control ng-untouched ng-pristine ng-invalid"></textarea>
                    </div>
                </div>
              </div>
              <div class="ml-lg-auto col-lg-5 col-12">
                <input type="submit" class="form-control submit-btn" value="Send Button">
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>