<section class="project py-5" id="contact">
    <div class="container">
  
      <div class="row">
        <div class="col-lg-11 text-center mx-auto col-12">
  
          <div class="col-lg-8 mx-auto">
            <h2>Contact</h2>
          </div>  
        </div>
      </div>
    </div>
  </section>
  
  <!-- FEATURE CONTACT -->
  <section class="contact py-5" id="contact">
    <div class="container">
      <div class="row">
  
        <div class="col-12">
          <div class="google-map w-100 align-items-center">
            <iframe
              src="https://www.google.com/maps/d/u/0/embed?mid=1B1lAsUpYFg82Je7XN1_cxRPf1UU&hl=en_US&ehbc=2E312F&ll=33.33913785504229%2C10.495755721496591&z=15"
              width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
  
          <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
            <div class="contact-info-item">
              <h3 class="mb-3 text-white">My Contact</h3>
              <p class="footer-text mb-0">+216 29 116 444</p>
              <p><a href="mailto:hello@company.co">rouaothmanioffic@gmail.com</a></p>
            </div>
  
            <ul class="social-links">
              <li><a href="https:www.Instagram.com/rouaothmanii" class="uil uil-instagram" data-toggle="tooltip"
                  data-placement="left" title="Instagram"></a></li>
              <li><a href="https:www.Facebook.com/rouaothmanii" class="uil uil-facebook" data-toggle="tooltip"
                  data-placement="left" title="Facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>