<!-- PROJECTS -->
<section class="project py-5" id="project">
  <div class="container">

    <div class="row">
      <div class="col-lg-11 text-center mx-auto col-12">

        <div class="col-lg-8 mx-auto">
          <h2>Educations</h2>
        </div>

       

      </div>
    </div>
  </div>
</section>

<!-- FEATURE PROJECTS -->
<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="project">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <h2 class="mb-4 mobile-mt-2">Educations</h2>

        <div class="timeline">
      <div class="timeline-wrapper">
        <div class="timeline-yr">
          <span>2021</span>
        </div>
        <div class="timeline-info">
          <h3><span>Faculte De Science</span><small>Software web </small></h3>
          <p>Higher Institute of Business Administration </p>
        </div>
      </div>

      <div class="timeline-wrapper">
        <div class="timeline-yr">
          <span>2019</span>
        </div>
        <div class="timeline-info">
          <h3><span>Lycee Technique</span><small>3eme et Bac</small></h3>
          <p>Completed my high school with Rate 'Good'.</p>
        </div>
      </div>

      <div class="timeline-wrapper">
        <div class="timeline-yr">
          <span>2018</span>
        </div>
        <div class="timeline-info">
          <h3><span>Lycee Ahed elJadid</span><small>2eme</small></h3>
          <p>The High School was mainly focus on the bases of science, mathematics, and Chemistry</p>
        </div>
      </div>

      <div class="timeline-wrapper">
        <div class="timeline-yr">
          <span>2017</span>
        </div>
        <div class="timeline-info">
          <h3><span>Lycee Ibnu Majeh</span><small>1er</small></h3>
          <p>There was also a good base on physics, mathematics and Computer science.</p>
        </div>
      </div>

    </div>
  </div>


      <div class="col-lg-6 col-12">
        <h2 class="mb-4">Experiences</h2>

        <div class="timeline">
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2023</span>
            </div>
            <div class="timeline-info">
              <h3><span>Development Web</span><small>Saja Academy</small></h3>
              <p>I learned developement web full stack, Its an amazing formation.</p>
            </div>
          </div>
        </div>
      </div>

      
      

    </div>
  </div>
</section>